doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        # Driver auto-detected from URL (postgresql://)
        charset: utf8

    orm:
        auto_generate_proxy_classes: true
        auto_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
