framework:
    secret: '%env(APP_SECRET)%'
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    
    # Enable attribute routing
    router:
        utf8: true
        default_uri: null
